

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
   
}


.login-form{
    width: 30%;
}

h3{
    text-align: center;
    margin: 24px;
}